<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=title %></h1>
    <div>이름은<span><%= userInfo.name%></span>입니다.</div>
    <div>성별은<span><%= userInfo.man%></span>입니다.</div>
    <div>생일은<span><%= userInfo.year%>년<%= userInfo.month%>월<%= userInfo.day%>일</span>입니다.</div>
    <div>관심사는<span><%= userInfo.ho1%></span>입니다.</div>
    <div>좋아하는색은<span><%= userInfo.color%></span>입니다.</div>
</body>
</html>